.adjust
  display: flex
  align-items: center
  justify-content: space-between
  margin-right: 20px

  mat-icon
    margin-left: auto

  mat-icon:hover
      cursor: pointer

.container
  display: flex
  flex-direction: column

  th.mat-header-cell
    color: white

  .headerRow
    background-color: black

  .highline:hover
    background-color: rgba(0, 0, 0, 0.1)
    cursor: pointer

.highlighted
  background-color: rgba(0, 0, 0, 0.1)

