
<mat-toolbar fxLayout fxLayoutAlign="space-between center">
  <h3>{{title}}</h3>
  <button mat-icon-button mat-dialog-close color="warn">
    <mat-icon class="mat-18">close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <form fxLayout="column" [formGroup]="group">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input type="text" matInput formControlName="nombre">
      </mat-form-field>
    </div>

    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
      <button type="button" mat-raised-button color="primary" [disabled]="group.invalid" (click)="save()">Save</button>
      <button type="button" mat-button color="primary" mat-dialog-close>Close</button>
    </div>
  </form>
</mat-dialog-content>

